.transactions-page {
    padding: 20px;
  }
  
  .transactions-page header {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
  }
  
  .transactions-page header button {
    background-color: #247fff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .transactions-page main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fcfdff;
    box-shadow: 0 4px 15px rgba(217, 219, 255, 0.5);
    border-radius: 8px;
  }
  
  .transactions-page form {
    display: flex;
    flex-direction: column;
  }
  
  .transactions-page .input-group {
    margin-bottom: 15px;
  }
  
  .transactions-page label {
    margin-bottom: 5px;
  }
  
  .transactions-page input,
  .transactions-page select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .transactions-page button {
    background-color: #247fff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .transactions-page button:hover {
    background-color: #1561f9;
  }
  