.regular-payments {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 20px 20px;
  font-family: Arial, sans-serif;
}

.category-types {
  display: flex;
  gap: 40px; /* Увеличили промежуток */
  margin-bottom: 20px;
  justify-content: center;
}

.category-type {
  background: #fcfdff;
  border: 2px solid #638fe5;
  border-radius: 5px;
  padding: 12px 24px;
  color: #247fff;
  font-size: 20px; /* Увеличили размер шрифта */
  cursor: pointer;
  transition: all 0.3s ease;
}

.category-type:hover,
.category-type.active {
  background: #247fff;
  color: white;
  transform: scale(1.1); /* Немного увеличиваем при наведении */
}


.add-button {
  width: 100%;
  padding: 8px;
  background: #2ecc71;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  transition: background 0.2s;
}

.add-button:hover {
  background: #27ae60;
}

.add-form {
  background: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  margin-top: 10px;
}

.add-form input, 
.add-form select {
  width: 100%;
  padding: 6px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.save-button {
  background: #3498db;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
  transition: background 0.2s;
}

.save-button:hover {
  background: #2980b9;
}

.stats {
  background: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  margin-top: 10px;
}